body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 1rem;
}

th,
td {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}



.company-header {

    font-weight: bold;
    text-align: center;
}

.total-revenue {

    font-weight: bold;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    table {
        width: 95%;
    }

    th,
    td {
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    table {
        width: 100%;
    }

    th,
    td {
        font-size: 0.8rem;
        padding: 5px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    table {
        width: 100%;
    }

    th,
    td {
        font-size: 0.7rem;
        padding: 4px;
    }
}